<template id="song-item">
    <div class="song-row">
        <h3 id="title" class="title">/* console.log('testing') */</h3>
        <p id="album" class="album"></p>
        <p id="artist" class="artist"></p>
    </div>
    <script defer>
        const title = getProps('title');
        console.log(title);
    </script>
    <style>
    .song-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 4vh;
        margin: 0 auto;
        margin-top: 10px;
        padding: 5px 20px;
        background-color: #e1dcdc;
        border-radius: 15px;
        box-shadow: 3px 3px 4px rgb(34, 54, 67);
    }

    .title {
        flex-grow: 4;
        margin-left: 4%;
        font-size: 1em;
    }

    .artist {
        flex-grow: 1;
    }

    .album {
        flex-grow: 1;
    }
    </style>
</template>
